{% extends 'base.html' %}

{% block encabezado %}
	<h1>Departamento de Ciencias Básicas e Ingenierías</h1>
{% endblock %}

{% block contenido %}
	<div data-role='content'>
	<div class="ui-grid-b">
		<div class="ui-block-a" style="width:15%"></div>
    	<div class="ui-block-b" style="width:70%">
		<p>Proyecto realizado por estudiantes del DCBeI de la carrera de Ing. Telemática para mantener
		el control de los usuarios en los laboratorios.
		</p>

		<p>Integrantes:</p>
		<ul>
			<li>Andrea Monserrat Díaz Holten</li>
			<li>Miguel Angel Feliciano Chavez</li>
			<li>Jonathan Peraza Feliciano</li>
			<li>Jose Manuel Pereira Cih</li>
		</ul>

		<p>Este proyecto fue supervisado por el Ing. Carlos Francisco Paz Cuevas</p>
		</div>
    	<div class="ui-block-c"></div>
	</div><!-- /grid-b -->
	</div>
{% endblock %}
