<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset='utf-8'>
	<title>DCBeI Telemática {% block titulo %} {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.mobile-1.4.3.min.css">
	{% block style_css %} {% endblock %}
	<script src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.mobile-1.4.3.min.js"></script>
	<link rel="shortcut icon" href="{{STATIC_URL}}img/logo.png">
	
</head>

<body data-role="page">
	<header data-role="header" data-theme="c"> 
		<img src="{{STATIC_URL}}img/uni.png">	
		{% block encabezado %} {% endblock %}
		<div data-role="navbar" >
			<ul>
				<li><a href="/" >Inicio</a></li>
				<li><a href="/registro/">Registrarme</a></li>
				<li><a href="/contrasena/">Olvide mi contraseña</a></li>
				<li><a href="/contacto/">Contacto</a></li>
			</ul>
		</div>
	</header>

	<section data-role="content" data-theme='c'>
		{% block contenido %}{% endblock %}
	</section>

	<div data-role="footer" data-theme="c">
		<center><p><a href="http://www.unicaribe.edu.mx">Universidad del Caribe</a> &copy; 2014</p></center>
	</div>
</body>

</html>